DEBUG=True
SECRET_KEY=change-me-to-a-secure-random-string
DATABASE_NAME=agrovalida
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1